<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<head th:replace="head :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>





		<div th:fragment="SearchToggle"> 
		
		
		
	<div class="form-group has-success">
		<div class="contairner">
			<div class="row">
			  <label class="form-control-label col-sm-2" for="inputSuccess1">Search by</label>
			  
			  
			  <select class="custom-select col-sm-2">		
			  <option class="mx-auto" selected>Select Type</option>
			  <option value="1">Part Number</option>
			  <option value="2">Location</option>
			  <option value="3">Date</option>
			  </select>
		  
		  		</div>
		</div>

  <input type="text" class="form-control form-control-success" id="inputSuccess1">
  <div class="form-control-feedback">Search successful!(I need javaScript)</div>
</div>

	</div>



</body>
</html>