<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>




<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a class="side-btn" href="#">About</a>
  <a class="side-btn" href="#">Services</a>
  <a class="side-btn" href="#">Clients</a>
  <a class="side-btn" href="#">Contact</a>
</div>

<div style="background-color:blue;">     
<span class="nav-icon" onclick="openNav()">&#9776; </span>


 </div>

<div th:replace="fragments/tabHeader :: togglable"> </div>


<div class="container"> 
	<button class="btn btn-success addbtn">Add</button>
	<div class="card">
	
	
	

	
	
	
	<div th:replace="fragments/SearchBar :: SearchToggle"> </div>
	
	
	<!--  imports new item modal -->
	<div th:replace="fragments/modalAddItem :: modal"> </div>
	
	
	
	
		<div class="card-block">
			<table class="table table-hover">
				<thead>
					<tr>
						<th >Part</th>
						<th>Name</th>
						<th>Location</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each=" item :${data.content}">
						<td th:text="${item.part}"></td>
						<td th:text="${item.name}"></td>
						<td th:text="${item.location}"></td>
						<td th:text="${item.description}"></td>
						
					</tr>
				</tbody>
			</table>
			<hr/>
				<ul class="nav nav-pills">
                 	<li class="nav-item" th:each="i : ${#numbers.sequence(0,data.totalPages-1)}">
                                        <a th:href="@{/(page=${i})}" th:text="${i}" class="nav-link"
                                        th:classappend="${currentPage}==${i}?'active':''"></a>
                        </li>
                 </ul>
			
			
		</div>
	</div>
 </div>
	


<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
 
</div>




</body>
</html>